<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div id="banner" class="banner">
    <div class="banner-content">
        <h1>🎬 Movie System</h1>
        <p>Select a movie to explore</p>
    </div>
</div>

<input id="searchBox" placeholder="Search movie...">
<button onclick="search()">Search</button>

<div class="section">
<h2>🔥 Trending</h2>
<div id="trending" class="row"></div>
</div>

<div class="section">
<h2>⭐ Top Rated</h2>
<div id="top" class="row"></div>
</div>

<div class="section">
<h2>🎯 Recommended</h2>
<div id="rec" class="row"></div>
</div>

<script>

window.onload = loadHome;

async function loadHome(){
    const res = await fetch("/homepage");
    const data = await res.json();
    fill("trending", data.trending);
    fill("top", data.top);
}

function fill(id, list){
    const box = document.getElementById(id);
    box.innerHTML = "";

    list.forEach(m=>{
        const div = document.createElement("div");
        div.className = "card";

        div.innerHTML = `
            <img src="${m.poster}" 
                 onerror="this.src='https://via.placeholder.com/160x240?text=No+Image'">
            <p>${m.title}</p>
        `;

        div.onclick = () => loadMovie(m.id);
        box.appendChild(div);
    });
}

async function loadMovie(id){
    const res = await fetch(`/movie/${id}`);
    const data = await res.json();

    const banner = document.getElementById("banner");

    banner.style.backgroundImage =
    `linear-gradient(to right, rgba(0,0,0,0.9), transparent), url(${data.poster})`;

    banner.innerHTML = `
        <div class="banner-content">
            <h1>${data.title}</h1>
            <p>${data.desc.slice(0,180)}...</p>
            <p>⭐ ${data.rating} | 🎭 ${data.genre} | 🌍 ${data.language}</p>
        </div>
    `;

    const rec = await fetch(`/recommend/${id}`);
    const recData = await rec.json();

    fill("rec", recData);
}

async function search(){
    const query = document.getElementById("searchBox").value;

    const res = await fetch("/search", {
        method: "POST",
        headers: {"Content-Type":"application/json"},
        body: JSON.stringify({movie: query})
    });

    const data = await res.json();
    fill("trending", data);
}

</script>

</body>
</html>