<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
<h2>📊 Student Performance Predictor</h2>

<input id="hours" placeholder="Study Hours">
<input id="attendance" placeholder="Attendance %">
<input id="sleep" placeholder="Sleep Hours">

<button onclick="predict()">Predict</button>

<h3 id="result"></h3>
<div id="bar"></div>
</div>

<script>
async function predict(){
    const res = await fetch("/predict", {
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body: JSON.stringify({
            hours: document.getElementById("hours").value,
            attendance: document.getElementById("attendance").value,
            sleep: document.getElementById("sleep").value
        })
    });

    const data = await res.json();
    const score = data.score;

    document.getElementById("result").innerText =
        "Score: " + score +
        (score > 75 ? " (A)" :
         score > 50 ? " (B)" : " (C)");

    document.getElementById("bar").style.width = score + "%";
}
</script>

</body>
</html>